[haproxy]
HAProxy-cluster-1 ansible_host=IP_OF_HAProxy_1
HAProxy-cluster-2 ansible_host=IP_OF_HAProxy_2
HAProxy-cluster-3 ansible_host=IP_OF_HAProxy_3

[postgres]
Postgres-cluster-1 ansible_host=IP_OF_Postgres_1
Postgres-cluster-2 ansible_host=IP_OF_Postgres_2
Postgres-cluster-3 ansible_host=IP_OF_Postgres_3

[all:vars]
# Set these to match how cloud-init provisions your template VMs.
ansible_user=effs
# ansible_ssh_private_key_file=~/.ssh/id_rsa
